<%
  extra_classes ||= ''
%>
<header class="header <%= extra_classes %>">

  <div class="menu-mobile">

    <ul>
      <li>
        <button class="btn-close"><span class="icon icon-close"></span></button>
      </li>
      <li>
        <%#= link_to 'Servicios', '/services.html', :relative => true %>
        <div class="dropdown">
          <button type="button" class="btn-dropdown">
            Servicios
            <span class="icon icon-angle-down">
          </button>
          <div class="dropdown-list">
            <ul>
              <li>
                <a href="#">Terrestre</a>
              </li>
              <li>
                <a href="#">Marítimo</a>
              </li>
              <li>
                <a href="#">Aéreo</a>
              </li>
              <li>
                <a href="#">Cross Trade</a>
              </li>
              <li>
                <a href="#">Proyctos</a>
              </li>
              <li>
                <a href="#">Aduanas</a>
              </li>
              <li>
                <a href="#">Almacenes</a>
              </li>
              <li>
                <a href="#">Seguros</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <%= link_to 'Empresa', '/company.html', :relative => true %>
      </li>
      <li>
        <%= link_to 'Noticias', '/news.html', :relative => true %>
      </li>
      <li>
        <%= link_to 'Contacto', '/contact.html', :relative => true %>
      </li>
      <li>
        <%= link_to 'Localiza tu oficina', '/contact.html', :relative => true %>
      </li>
      <li>
        <a href="#budget-form" class="btn btn--primary">Pídenos presupuesto</a>
      </li>
    </ul>
  </div>

  <a href="/" class="header__logo">
    <%= image_tag("content/cargo30_aniversario.png", :class => 'header__logo__logo') %>
  </a>

  <div class="header__navs">
    <div class="header__navs__info">
      <ul class="header__navs__info__left">
        <li>
          <a href="#"> <!-- falta enlace -->
            <span class="icon icon-location"></span>
            <span class="text">Localiza tu oficina</span>
          </a>
        </li>
        <li class="phone-number">
          <a href="tel:+34914341820">
            <span class="icon icon-phone"></span>
            <span class="text">(+34) 914 341 820</span>
          </a>
        </li>
        <li>
          <a href="mailto:infomad@cargoservicesgroup.com">
            <span class="icon icon-mail"></span>
            <span class="text">infomad@cargoservicesgroup.com</span>
          </a>
        </li>
      </ul>
      <ul class="header__navs__info__right hide-on-mobile">
        <li>
          <a href="#" class="active">ES</a>
        </li>
        <li>
          <a href="#">EN</a>
        </li>
        <li>
          <a href="#">PO</a>
        </li>
      </ul>
    </div>

    <div class="header__navs__menu">
      <ul>
        <li>
          <%= link_to 'Servicios', '/services.html', :relative => true %>
        </li>
        <li>
          <%= link_to 'Empresa', '/company.html', :relative => true %>
        </li>
        <li>
          <%= link_to 'Noticias', '/news.html', :relative => true %>
        </li>
        <li>
          <%= link_to 'Contacto', '/contact.html', :relative => true %>
        </li>
      </ul>
      <button class="btn-menu-mobile">
        <span class="menu-bar"></span>
      </button>
    </div>
  </div>

  <a href="#budget-form" class="btn btn--primary btn-budget">Pídenos presupuesto</a>

</header>
