<%
  extra_classes ||= ''
%>
<header class="header <%= extra_classes %>">

  <a href="/" class="header__logo">
    <%= image_tag("content/cargo30_aniversario.png", :class => 'header__logo__logo') %>
  </a>

  <div class="header__navs">
    <div class="header__navs__info">
      <ul class="header__navs__info__left">
        <li>
          <a href="#"> <!-- falta enlace -->
            <span class="icon icon-location"></span>
            <span class="text">Localiza tu oficina</span>
          </a>
        </li>
        <li>
          <a href="tel:+34914341820">
            <span class="icon icon-phone"></span>
            <span class="text">(+34) 914 341 820</span>
          </a>
        </li>
        <li>
          <a href="mailto:infomad@cargoservicesgroup.com">
            <span class="icon icon-mail"></span>
            <span class="text">infomad@cargoservicesgroup.com</span>
          </a>
        </li>
      </ul>
      <ul class="header__navs__info__right">
        <li>
          <a href="#" class="active">ES</a>
        </li>
        <li>
          <a href="#">EN</a>
        </li>
        <li>
          <a href="#">PO</a>
        </li>
      </ul>
    </div>

    <div class="header__navs__menu">
      <ul>
        <li>
          <%= link_to 'Servicios', '/services.html', :relative => true %>
        </li>
        <li>
          <%= link_to 'Empresa', '/company.html', :relative => true %>
        </li>
        <li>
          <%= link_to 'Noticias', '/news.html', :relative => true %>
        </li>
        <li>
          <%= link_to 'Contacto', '/contact.html', :relative => true %>
        </li>
      </ul>
    </div>
  </div>

  <a href="#budget-form" class="btn btn--primary btn-budget">Pídenos presupuesto</a>

</header>
