<%
  extra_classes ||= ''
  active ||= ''
%>
<header class="header <%= extra_classes %>">

  <div class="menu-mobile">

    <ul>
      <li>
        <button class="btn-close"><span class="icon icon-close"></span></button>
      </li>
      <li class="<%= active == 'services' ? 'active' : '' %>">
        
        <div class="dropdown">
          <% link_to '/services.html', :relative => true, :class => 'btn-dropdown' do %>
            Servicios
            <span class="icon icon-angle-down">
          <% end %>
          <div class="dropdown-list">
            <ul>
              <li>
                <%= link_to 'Terrestre', '/services.html', :relative => true, :fragment => 'ground' %>
              </li>
              <li>
                <%= link_to 'Marítimo', '/services.html', :relative => true, :fragment => 'marine' %>
              </li>
              <li>
                <%= link_to 'Aéreo', '/services.html', :relative => true, :fragment => 'aerial' %>
              </li>
              <li>
                <%= link_to 'Cross Trade', '/services.html', :relative => true, :fragment => 'cross-trade' %>
              </li>
              <li>
                <%= link_to 'Proyectos', '/services.html', :relative => true, :fragment => 'projects' %>
              </li>
              <li>
                <%= link_to 'Aduanas', '/services.html', :relative => true, :fragment => 'customs' %>
              </li>
              <li>
                <%= link_to 'Almacenes', '/services.html', :relative => true, :fragment => 'warehouses' %>
              </li>
              <li>
                <%= link_to 'Seguros', '/services.html', :relative => true, :fragment => 'insurance' %>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="<%= active == 'company' ? 'active' : '' %>">
        <div class="dropdown">
          <% link_to '/company.html', :relative => true, :class => 'btn-dropdown' do %>
            Empresa
            <span class="icon icon-angle-down">
          <% end %>
          <div class="dropdown-list">
            <ul>
              <li>
                <%= link_to 'Historia', '/company.html', :relative => true, :fragment => 'history' %>
              </li>
              <li>
                <%= link_to 'Nuestra filosofía', '/company.html', :relative => true, :fragment => 'philosophy' %>
              </li>
              <li>
                <%= link_to 'Política de empresa', '/company.html', :relative => true, :fragment => 'comany-pol' %>
              </li>
              <li>
                <%= link_to 'Calidad', '/company.html', :relative => true, :fragment => 'qa' %>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="<%= active == 'news' ? 'active' : '' %>">
        <%= link_to 'Noticias', '/news.html', :relative => true %>
      </li>
      <li class="<%= active == 'contact' ? 'active' : '' %>">
        <%= link_to 'Contacto', '/contact.html', :relative => true %>
      </li>
      <li>
        <a href="#budget-form" class="btn btn--primary">Pídenos presupuesto</a>
      </li>
    </ul>
  </div>

  <% link_to '/home.html', :relative => true, :class => 'header__logo' do %>
    <%= image_tag("content/cargo30_aniversario.png", :class => 'header__logo__logo') %>
  <% end %>

  <div class="header__navs">
    <div class="header__navs__info">
      <ul class="header__navs__info__left">
        <li>
          <a href="#"> <!-- falta enlace -->
            <span class="icon icon-location"></span>
            <span class="text">Localiza tu oficina</span>
          </a>
        </li>
        <li class="phone-number">
          <a href="tel:+34914341820">
            <span class="icon icon-phone"></span>
            <span class="text">(+34) 914 341 820</span>
          </a>
        </li>
        <li>
          <a href="mailto:infomad@cargoservicesgroup.com">
            <span class="icon icon-mail"></span>
            <span class="text">infomad@cargoservicesgroup.com</span>
          </a>
        </li>
      </ul>
      <ul class="header__navs__info__right hide-on-mobile">
        <li>
          <a href="#" class="active">ES</a>
        </li>
        <li>
          <a href="#">EN</a>
        </li>
        <li>
          <a href="#">PO</a>
        </li>
      </ul>
    </div>

    <div class="header__navs__menu">
      <ul>
        <li class="<%= active == 'services' ? 'active' : '' %>">
          <%= link_to 'Servicios', '/services.html', :relative => true %>
        </li>
        <li class="<%= active == 'company' ? 'active' : '' %>">
          <%= link_to 'Empresa', '/company.html', :relative => true %>
        </li>
        <li class="<%= active == 'news' ? 'active' : '' %>">
          <%= link_to 'Noticias', '/news.html', :relative => true %>
        </li>
        <li class="<%= active == 'contact' ? 'active' : '' %>">
          <%= link_to 'Contacto', '/contact.html', :relative => true %>
        </li>
      </ul>
      <button class="btn-menu-mobile">
        <span class="menu-bar"></span>
      </button>
    </div>
  </div>

  <a href="#budget-form" class="btn btn--primary btn-budget">Pídenos presupuesto</a>

</header>
