---
title: Company
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => '',
  :active => 'company'
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero", :locals => {
    :extra_classes => 'hero--company',
    :title => '30 AÑOS CUMPLIENDO CON TUS COMPROMISOS',
    :text => '',
    :image => 'company/hero.jpg'
  }) %>

  <%= partial("modules/company-menu", :locals => {
    :extra_classes => ''
  }) %>


  <%= partial("modules/content-image", :locals => {
    :extra_classes => '',
    :title => 'HISTORIA',
    :content => '<div class="content-block">' +
                  '<p>Cargo Services se fundó en Madrid en marzo de 1988. Nacimos como empresa transitaria orientando nuestra actividad a los servicios de transporte aéreo, marítimo y terrestre.</p>' +
                  '<p>En nuestro afán por dar un servicio integral a nuestros clientes, incluimos agencia de aduanas, seguros de transporte y otros servicios anexos a la exportación e importación.</p>' +
                  '<p>Pronto empezamos un proyecto de expansión, contando en la actualidad con oficinas propias en Madrid, Pamplona, Barcelona, Comillas (Santander), La Habana (Cuba), Gdynia (Polonia), Panamá y México DF. A día de hoy, también disponemos de una red de Agentes en todo el mundo, a través de la cual damos cobertura a las empresas en cualquier punto del planeta.</p>' +
                  '<p>Comprometidos con la calidad, y con el firme propósito de obtener la excelencia en nuestros servicios y la satisfacción plena de nuestros clientes, en Cargo Services tenemos la Certificación ISO 9001 desde el año 1997.</p>' +
                  '<p>La propia Globalización y aparición de nuevas necesidades en logística internacional, nos ha llevado a la creación de departamentos de Cross-Trade (embarques triangulares), Cross-Docking (consolidación cargas), Fletamientos y Proyectos.</p>' +
                  '<p>En la actualidad, Cargo Services somos una empresa con una sólida estructura formada por un personal con dilatada experiencia, en constante evolución y mejora. Nuestro objetivo principal es estar siempre preparados para dar el mejor servicio a las necesidades que el mercado y nuestros clientes puedan demandar.</p>' +
                '</div>',

    :image => 'company/company01.jpg',
    :contentPosition => 'left',
    :id => 'history'
  }) %>

  <%= partial("modules/content-image", :locals => {
    :extra_classes => '',
    :title => 'FILOSOFÍA',
    :content => '<div class="content-block">' +
                  '<p class="lead">Nuestra visión</p>' +
                  '<p>Cargo Services es una empresa totalmente orientada al cliente.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Nuestra misión</p>' +
                  '<p>Nuestros servicios permiten a nuestros clientes cumplir con sus compromisos y les sirven de ayuda para alcanzar sus fines comerciales fomentando su crecimiento, sea cual sea su sector de actividad o dimensión de la empresa.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Nuestro objetivo</p>' +
                  '<p>Buscamos la máxima satisfacción de nuestros clientes mediante el análisis, estudio y control de sus necesidades, utilizando para ello los mejores medios técnicos y humanos.</p>' +
                '</div>',
    :image => 'company/company02.jpg',
    :contentPosition => 'right',
    :id => 'philosophy'
  }) %>

  <%= partial("modules/content-centered", :locals => {
    :extra_classes => '',
    :title => 'POLÍTICA DE EMPRESA',
    :content => '<div class="content-block">' +
                  '<p>Nuestra política de empresa se basa en una personalizada atención al cliente, una oferta de servicios de toda garantía y una política de precios ajustada al mercado. Para ello, contamos con personal cualificado en continua formación, y con unos proveedores acreditados tanto a nivel nacional como internacional.</p>' +
                '</div>',
    :id => 'comany-pol'
  }) %>

  <%= partial("modules/company-list", :locals => {
    :extra_classes => ''
  }) %>

  <%= partial("modules/content-slider", :locals => {
    :extra_classes => '',
    :title => 'RESPONSABILIDAD SOCIAL CORPORATIVA',
    :content => '<div class="content-block">' +
                  '<p class="lead">Colaboramos con proyectos benéficos</p>' +
                  '<p>Colaboramos con entidades como Cruz Roja, Caritas y Misioneros Recoletos en la gestión de sus envíos, y aplicamos nuestros conocimientos de logística para aportar nuestro granito de arena en la búsqueda de un mundo mejor.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Respetamos el medio ambiente</p>' +
                  '<p>En todos los aspectos relativos al Respeto al Medio Ambiente y por convencimiento, estamos al día de las exigencias marcadas por este organismo a nivel nacional.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Velamos por la conciliación laboral y familiar</p>' +
                  '<p>Impulsamos políticas empresariales que favorecen el desarrollo de las necesidades individuales de nuestros empleados y fomentan un sentimiento de pertenencia que conlleva una mejora del rendimiento laboral.</p>' +
                '</div>',

    :images => [
                'company/slide-01.jpg',
                'company/slide-02.jpg',
                'company/slide-01.jpg',
                'company/slide-02.jpg',
                'company/slide-01.jpg',
                'company/slide-02.jpg'
                ],
    :contentPosition => 'left',
    :id => 'corporative'
  }) %>

  <%= partial("modules/content-centered", :locals => {
    :extra_classes => 'content-centered--company',
    :title => 'CALIDAD',
    :content => '<div class="content-block">' +
                  '<p>Nuestro propósito es conseguir la excelencia en nuestros servicios para mantener relaciones duraderas con clientes satisfechos. Es, por eso, que en Cargo Services tenemos la Certificación ISO 9001 desde el año 1997.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<div class="company-logos">' +
                    image_tag('content/company/logo-ateia.png', :class => 'company-logo ateia') +
                    image_tag('content/company/logo-feteia.png', :class => 'company-logo feteia') +
                    image_tag('content/company/logo-aeo.png', :class => 'company-logo aeo') +
                    image_tag('content/company/logo-iata.png', :class => 'company-logo iata') +
                    image_tag('content/company/logo-iso.png', :class => 'company-logo iso') +
                  '</div>' +
                '</div>' +
                '<div class="content-block">' +
                  '<div class="company-buttons">' +
                    partial("modules/button", :locals => {
                      :extra_classes => 'btn--secondary icon icon-download',
                      :extra_attributes => '',
                      :type => 'link',
                      :text => 'Descarga el certificado',
                      :link => '../assets/images/content/CERTIFICACION-ISO-9001-2000-CargoServices.pdf'
                    }) +
                    partial("modules/button", :locals => {
                      :extra_classes => 'btn--secondary icon icon-download',
                      :extra_attributes => '',
                      :type => 'link',
                      :text => 'Descarga la Política de Calidad',
                      :link => '../assets/images/content/PoliticaCalidad.pdf'
                    }) +

                  '</div>' +
                '</div>' ,
    :id => 'qa'
  }) %>



  <%= partial("modules/map", :locals => {
    :extra_classes => ''
  }) %>
  

  <%= partial("modules/modal-form", :locals => {
    :modal_selector => 'budget-modal',
    :extra_classes => 'budget-modal',
    :title => '<p class="small">' +
                'Solicita' +
              '</p>' +
              '<p class="title">' +
                'Presupuesto gratuito' +
              '</p>'
  }) %>

</div>
<%= partial("shared/footer") %>
