---
title: Company
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => '',
  :active => 'company'
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero", :locals => {
    :extra_classes => 'hero--company',
    :title => '30 AÑOS CUMPLIENDO CON TUS COMPROMISOS',
    :text => '',
    :image => 'company/hero.jpg'
  }) %>

  <%= partial("modules/company-menu", :locals => {
    :extra_classes => ''
  }) %>


  <%= partial("modules/content-image", :locals => {
    :extra_classes => '',
    :title => 'Historia',
    :content => '<div class="content-block">' +
                  '<p>Cargo Services se fundó en Madrid en Marzo 1988 como empresa transitaria orientando su actividad a los servicios de transporte aéreo, marítimo y terrestre</p>' +
                  '<p>En su afán de dar un servicio integral a sus clientes, también incluyó agencia de aduanas, seguros de transporte, y otros servicios más anexos a la exportación e importación..</p>' +
                  '<p>Pronto empezó su proyecto de expansión contando en la actualidad con oficinas propias en Pamplona, Barcelona, Comillas (Santander), La Habana (Cuba), Gdynia (Polonia), Panamá y México DF así como también una red de Agentes en todo el mundo, dando cobertura en cualquier punto del planeta.</p>' +
                  '<p>Comprometida con la calidad, y teniendo el firme propósito de obtener la excelencia en sus servicios y la satisfacción plena de sus clientes, Cargo Services obtuvo la Certificación ISO 9001 desde el año 1997.</p>' +
                  '<p>La propia Globalización y aparición de nuevas necesidades en logística internacional, nos ha llevado a la creación de departamentos de Cross-Trade (embarques triangulares), Cross-Docking (consolidación cargas) y Proyectos.</p>' +
                  '<p>En la actualidad, Cargo Services es una empresa con una sólida estructura formada por un personal con dilatada experiencia, en constante evolución y mejora con el fin de estar siempre preparada a las necesidades que el mercado y nuestros clientes nos puedan demandar.</p>' +
                '</div>',

    :image => 'company/company01.jpg',
    :contentPosition => 'left',
    :id => 'history'
  }) %>

  <%= partial("modules/content-image", :locals => {
    :extra_classes => '',
    :title => 'Filosofía',
    :content => '<div class="content-block">' +
                  '<p class="lead">Nuestra visión</p>' +
                  '<p>Cargo Services es una empresa totalmente orientada al cliente.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Nuestra misión</p>' +
                  '<p>Nuestros servicios permiten a nuestros CLIENTES cumplir con sus compromisos y servir de ayuda para alcanzar sus fines comerciales ayudando de esta manera a su crecimiento sea cual sea su sector de actividad o dimensión de la empresa.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Nuestro objetivo</p>' +
                  '<p>Buscar la máxima satisfacción de nuestros clientes, mediante el análisis, estudio y control de sus necesidades, utilizando para ello los mejores medios técnicos y humanos.</p>' +
                '</div>',
    :image => 'company/company02.jpg',
    :contentPosition => 'right',
    :id => 'philosophy'
  }) %>

  <%= partial("modules/content-centered", :locals => {
    :extra_classes => '',
    :title => 'Política de empresa',
    :content => '<div class="content-block">' +
                  '<p>Se basa en la atención personalizada a sus clientes y una política de precio ajustada al mercado junto con unos servicios de toda garantía. Para ello contamos con personal cualificado con formación continua y unos proveedores acreditados, tanto a nivel nacional como internacional</p>' +
                '</div>',
    :id => 'comany-pol'
  }) %>

  <%= partial("modules/company-list", :locals => {
    :extra_classes => ''
  }) %>

  <%= partial("modules/content-slider", :locals => {
    :extra_classes => '',
    :title => 'Responsabilidad social corporativa',
    :content => '<div class="content-block">' +
                  '<p class="lead">Colaboración con proyectos benéficos</p>' +
                  '<p>Nuestra responsabilidad social corporativa está basada en la participación en diferentes proyectos benéficos tanto con ONGs como con iniciativas de la Iglesia.</p>' +
                  '<p>Colaboramos, entre otros, con CRUZ ROJA ESPAÑOLA, CARITAS y MISIONEROS RECOLETOS que están presentes en  África, Asia y América mediante la gestión de los envíos y otras ONGs cooperantes en Sud-América.</p>' +
                  '<p>Pensamos en seguir en esta línea que nos permite aportar nuestro granito de arena por un mundo mejor aplicando nuestros conocimientos de logística.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Respeto por el medio ambiente</p>' +
                  '<p>En todos los aspectos relativos al Respeto al Medio Ambiente y por convencimiento, estamos al día de las exigencias marcadas por este organismo a nivel nacional.</p>' +
                '</div>',
    :images => [
                'company/slide-01.jpg',
                'company/slide-02.jpg',
                'company/slide-01.jpg',
                'company/slide-02.jpg',
                'company/slide-01.jpg',
                'company/slide-02.jpg'
                ],
    :contentPosition => 'left',
    :id => 'corporative'
  }) %>

  <%= partial("modules/content-centered", :locals => {
    :extra_classes => 'content-centered--company',
    :title => 'Calidad',
    :content => '<div class="content-block">' +
                  '<p>Comprometida con la calidad, y teniendo el firme propósito de obtener la excelencia en sus servicios y la satisfacción plena de sus clientes, Cargo Services obtuvo la Certificación ISO 9001 desde el año 1997.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<div class="company-logos">' +
                    image_tag('content/company/logo-ateia.png', :class => 'company-logo ateia') +
                    image_tag('content/company/logo-feteia.png', :class => 'company-logo feteia') +
                    image_tag('content/company/logo-aeo.png', :class => 'company-logo aeo') +
                    image_tag('content/company/logo-iata.png', :class => 'company-logo iata') +
                    image_tag('content/company/logo-iso.png', :class => 'company-logo iso') +
                  '</div>' +
                '</div>' +
                '<div class="content-block">' +
                  '<div class="company-buttons">' +
                    partial("modules/button", :locals => {
                      :extra_classes => 'btn--secondary icon icon-download',
                      :extra_attributes => '',
                      :type => 'button',
                      :text => 'Descarga el certificado',
                      :link => ''
                    }) +
                    partial("modules/button", :locals => {
                      :extra_classes => 'btn--secondary icon icon-download',
                      :extra_attributes => '',
                      :type => 'button',
                      :text => 'Descarga la Política de Calidad',
                      :link => ''
                    }) +

                  '</div>' +
                '</div>' ,
    :id => 'qa'
  }) %>



  <%= partial("modules/map", :locals => {
    :extra_classes => ''
  }) %>

</div>
<%= partial("shared/footer") %>
