---
title: Home
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => '',
  :active => ''
}) %>

<div class="content__wrapper">

  <%= partial("modules/slider-hero", :locals => {
    :extra_classes => ''
  }) %>

  <div id="home">
    <%= partial("modules/slider-home", :locals => {
      :extra_classes => ''
    }) %>

    <%= partial("modules/request-estimation", :locals => {
      :extra_classes => ''
    }) %>


    <%= partial("modules/home-list", :locals => {
      :extra_classes => ''
    }) %>

    <%= partial("modules/map", :locals => {
      :extra_classes => ''
    }) %>
  </div>
  

  <%= partial("modules/modal-form", :locals => {
    :modal_selector => 'budget-modal',
    :extra_classes => 'budget-modal',
    :title => '<p class="small">' +
                'Solicita' +
              '</p>' +
              '<p class="title">' +
                'Presupuesto gratuito' +
              '</p>'
  }) %>
</div>
<%= partial("shared/footer") %>
