---
title: News
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => '',
  :active => 'news'
}) %>

<div class="content__wrapper">

  <%= partial("modules/news-slider", :locals => {
    :extra_classes => ''
  }) %>

  <%= partial("modules/news-list", :locals => {
    :extra_classes => '',
    :paginator => true,
    :items => 12,
    :theme => 'blue'
  }) %>

  <%= partial("modules/map", :locals => {
    :extra_classes => ''
  }) %>
  

  <%= partial("modules/modal-form", :locals => {
    :modal_selector => 'budget-modal',
    :extra_classes => 'budget-modal',
    :title => '<p class="small">' +
                'Solicita' +
              '</p>' +
              '<p class="title">' +
                'Presupuesto gratuito' +
              '</p>'
  }) %>
  

</div>
<%= partial("shared/footer") %>
