---
title: Services
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => '',
  :active => 'services'
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero", :locals => {
    :extra_classes => '',
    :title => 'La ingeniería del transporte',
    :text => 'Desde 1988',
    :image => 'services/hero.jpg'
  }) %>

  <%= partial("modules/services-list", :locals => {
    :extra_classes => ''
  }) %>


  <%= partial("modules/content-image", :locals => {
    :extra_classes => '',
    :title => 'TRANSPORTE TERRESTRE',
    :content => '<div class="content-block">' +
                  '<p>Según las necesidades de cada envío ponemos al servicio del cliente todo tipo de vehículos: trailer, mega, tren en carretera, camiones frigo, basculantes, remolques con plataforma, etc.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Un servicio para cada necesidad</p>' +
                  '<ul class="checklist">' +
                    '<li>Cargas completas a toda Europa con especialidad en países del Este, sobre todo Polonia donde contamos con oficinas propias.</li>' +
                    '<li>Cargas fraccionadas y grupajes</li>' +
                    '<li>Transportes especiales / Mercancía ADR / Gran Volumen</li>' +
                    '<li>Servicio Express con vehículos ligeros sin tacógrafo, camiones con tacógrafo con 1 o 2 chóferes a toda Europa. Servicio incluso fines de semana y festivos.</li>' +
                  '</ul>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Seguro de mercancía</p>' +
                  '<p>' +
                  image_tag('../assets/images/icons/lock-bullet.svg', :class => 'lock-bullet') +
                  ' Seguro CMR con opción de seguro a todo riesgo.</p>' +
                '</div>',

    :image => 'services/services01.jpg',
    :contentPosition => 'left',
    :id => 'ground'
  }) %>

  <%= partial("modules/content-image", :locals => {
    :extra_classes => '',
    :title => 'TRANSPORTE MARÍTIMO',
    :content => '<div class="content-block">' +
                  '<p>Es el medio de transporte más económico donde se consolidan las cargas en grandes buques de múltiples exportadores. El medio más usado en el transporte intercontinental, para el cual ofrecemos el mejor de los servicios:</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Servicios regulares puerta a puerta</p>' +
                  '<p>A través de nuestra extensa red de agentes podemos dar un servicio en cualquier punto del mundo asegurando siempre que la mercancía está localizada y controlada en todo momento.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Experiencia acreditada transportando todo tipo de mercancías</p>' +
                  '<p>Servicios de carga de contenedores completos FCL/FCL (Dry, Open Tops, Reefer, Pallet Wide, Flat Racks, Platforms), servicio consolidado en contenedor LCL/LCL a todos los destinos, servicio convencional en bodegas de buque para todo tipo de mercancías, fletamento de buques y servicio en buques especiales RO-RO para mercancía rodante.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Gestión documental</p>' +
                  '<p>En Cargo Services gestionamos toda la documentación relativa al envío y a cualquier forma de compraventa de la mercancía: carta de crédito, envío contra entrega de documentos, contratos, etc. Todo de manera digital, lo que nos permite gestionar y verificar de una manera más productiva y efectiva.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Seguro a todo riesgo</p>' +
                  '<p>Para cada operación específica a cualquier parte del mundo.</p>' +
                  '<p>' +
                  image_tag('../assets/images/icons/lock-bullet.svg', :class => 'lock-bullet') +
                  ' Seguro a todo riesgo para cada operación específica a cualquier parte del mundo.</p>' +
                '</div>',
    :image => 'services/services02.jpg',
    :contentPosition => 'right',
    :id => 'marine'
  }) %>

  <%= partial("modules/content-image", :locals => {
    :extra_classes => '',
    :title => 'TRANSPORTE AÉREO',
    :content => '<div class="content-block">' +
                  '<p>Es el medio de transporte más rápido y seguro.</p>' +
                  '<p>Como miembros de la IATA (International Air Transport Association) en Cargo Services podemos realizar embarques con todas las compañías aéreas del mundo. Y, además, transportar todo tipo de mercancías: carga general, perecederos, mercancía peligrosa, mercancía de alto valor, animales vivos, etc.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Departamento Charter</p>' +
                  '<p>Desde este departamento proporcionamos un avión específico para el tipo de mercancía que necesite transportar cada empresa.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Seguimiento y control de mercancías</p>' +
                  '<p>Por medio de los últimos sistemas informáticos, tenemos controlada la mercancía las 24 horas del día, pudiendo conocer el status de todos nuestros envíos en cada momento.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Transporte de material para todo tipo de eventos</p>' +
                  '<p>Contamos con una amplia experiencia en la gestión de envíos de material para el montaje de stands en ferias y exposiciones, así como giras musicales y eventos.</p>' +
                '</div>'+
                '<div class="content-block">' +
                  '<p class="lead">Gestión documental</p>' +
                  '<p>En Cargo Services gestionamos toda la documentación relativa al envío y a cualquier forma de compraventa de la mercancía: carta de crédito, envío contra entrega de documentos, contratos, etc.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p>' +
                  image_tag('../assets/images/icons/lock-bullet.svg', :class => 'lock-bullet') +
                  'Seguro a todo riesgo para cada operación específica a cualquier parte del mundo.</p>' +
                '</div>',
    :image => 'services/services03.jpg',
    :contentPosition => 'left',
    :id => 'aerial'
  }) %>

  <%= partial("modules/content-image", :locals => {
    :extra_classes => '',
    :title => 'CROSS – TRADE',
    :content => '<div class="content-block">' +
                  '<p>Los últimos cambios en el mundo y la propia Globalización han ido impulsando a las empresas en un primer paso a la subcontratación de piezas y componentes de sus productos en el exterior.</p>' +
                  '<p>En un paso posterior, esta subcontratación ha llegado a la compra integral de productos con un valor añadido bajo.</p>' +
                  '<p>Muchas de las exportadoras más importantes venden estos productos y, en lugar de traerlos a sus almacenes, realizan el envío de dichas mercancías directamente de los almacenes de su proveedor a cliente.</p>' +
                  '<p>Esto tiene un riesgo: que el receptor pueda descubrir quién es el fabricante real, bien por los documentos usados a la exportación, por los documentos de transporte donde puede aparecer como shipper, por etiquetas en los bultos, cajas identificativas, etc.</p>' +
                  '<p>Nuestro departamento especializado en Cross-Trade gestiona todo este tipo de envíos utilizando todos los medios de transporte necesarios. A través de su red mundial de agentes, realiza todas las gestiones necesarias para mantener la integridad del vendedor garantizándole, de esta forma, el futuro de su negocio.</p>' +
                '</div>',
    :image => 'services/services04.jpg',
    :contentPosition => 'right',
    :id => 'cross-trade'
  }) %>

  <%= partial("modules/content-image", :locals => {
    :extra_classes => '',
    :title => 'PROYECTOS',
    :content => '<div class="content-block">' +
                  '<p>En Cargo Services estamos especializados en la realización de proyectos integrales de logística. Desde nuestro departamento de proyectos, nuestro propósito es hacer que la mercancía alcance su destino en el plazo indicado y de la mejor manera posible.</p>' +
                  '<p>Contamos con una red de agentes expertos en la gestión de proyectos en todo el mundo y, para facilitar la comunicación entre Cargo Services y su empresa, asignamos un responsable de proyecto que será su interlocutor principal a la vez que somos capaces de integrarnos con el sistema informático de su empresa.</p>' +
                  '<p>Esto se aplica tanto a embarques de mercancías con grandes volúmenes y/o pesos, así como la combinación de transportes de mercancías de diversos lugares del mundo a un punto o mercancías extremadamente delicadas o urgentes.</p>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Todo es posible</p>' +
                  '<ul class="checklist">' +
                    '<li>Revisión y verificación de tramos de carretera, puentes y túneles</li>' +
                    '<li>Gestión de obra pública</li>' +
                    '<li>Embalajes y etiquetajes</li>' +
                    '<li>Coordinación y consolidación de mercancía de proveedores</li>' +
                    '<li>Verificación y control de la documentación</li>' +
                    '<li>Y cualquier otra necesidad que su empresa pueda necesitar</li>' +
                  '</ul>' +
                '</div>' +
                '<div class="content-block">' +
                  '<p>En nuestras manos, su mercancía está constantemente controlada y conocemos en todo momento su situación.</p>' +
                '</div>',
    :image => 'services/services05.jpg',
    :contentPosition => 'left',
    :id => 'projects'
  }) %>

  <%= partial("modules/content-image", :locals => {
    :extra_classes => '',
    :title => 'Aduanas',
    :content => '<div class="content-block">' +
                  '<p class="lead">DESPACHO DE ADUANAS</p>' +
                  '<p>Una de las gestiones más demandadas es la de mercancías en depósitos aduaneros. Esto ofrece la posibilidad de realizar despachos parciales o almacenar la mercancía en régimen suspensivo de impuestos:</p>' +
                  '<ul class="checklist">' +
                    '<li>Depósito Aduanero (DA)</li>' +
                    '<li>Depósito Distinto del Aduanero (DDA)</li>' +
                    '<li>Depósito Temporal (ADT)</li>' +
                  '</ul>' +
                '<p>Desde Cargo Services, ofrecemos la posibilidad de realizar el despacho de aduanas de mercancía en cualquier punto fronterizo de España y Europa.</p>'  +
                '</div>' +
                '<div class="content-block">' +
                  '<p class="lead">Otros servicios de aduana:</p>' +
                  '<ul class="checklist">' +
                    '<li>Presentación del Intrastat</li>' +
                    '<li>Tránsitos entre Aduanas</li>' +
                    '<li>Representante Fiscal</li>' +
                    '<li>Consultas Arancelarias</li>' +
                    '<li>Visados Consulares</li>' +
                    '<li>Asistencia en Inspecciones Fiscales</li>' +
                    '<li>Licencias de Importación</li>' +
                    '<li>Asesoramiento Comercio Exterior / Aduanas</li>' +
                  '</ul>' +
                '</div>',
    :image => 'services/services06.jpg',
    :contentPosition => 'right',
    :id => 'customs'
  }) %>

  <%= partial("modules/content-image", :locals => {
    :extra_classes => '',
    :title => 'ALMACENES',
    :content => '<div class="content-block">' +
                  '<p>Desde Cargo Services, ponemos a su disposición diferentes servicios de almacenaje y retractilado, desde el más sencillo al más complejo, para aportar un valor añadido a su mercancía:</p>' +
                  '<ul class="bulletlist">' +
                    '<li>Cross Docking: Consolidación y desconsolidación de cargas de distintos proveedores y destinos</li>' +
                    '<li>Embalaje y etiquetaje</li>' +
                    '<li>Llenado y vaciado de contenedores</li>' +
                    '<li>Control de stocks</li>' +
                    '<li>Transbordos</li>' +
                    '<li>Paletización de mercancías</li>' +
                  '</ul>' +
                '</div>',
    :image => 'services/services07.jpg',
    :contentPosition => 'left',
    :id => 'warehouses'
  }) %>

  <%= partial("modules/content-image", :locals => {
    :extra_classes => '',
    :title => 'CONSULTORÍA',
    :content => '<div class="content-block">' +
                  '<p>En Cargo Services trabajamos con un principal objetivo: ir de la mano de nuestros clientes para ayudarles a crecer y fomentar la competitividad de su empresa.</p>' +
                  '<p>Ofrecemos servicios de consultoría estratégica en comercio internacional, logística y transporte. Y proporcionamos asesoramiento para ayudar a las empresas en su proceso de internalización.</p>' +
                  '<p>Colaboramos con esas compañías que quieren iniciar su andadura en la importación o exportación de mercancías, y con aquellas que pretenden ampliar su conocimiento en el área del comercio exterior. Apoyamos la internacionalización desde la idea hasta la puesta en marcha.</p>' +
                  '<p>Nuestra labor pasa por realizar una profunda evaluación de los objetivos de cada empresa, un análisis de situación del mercado, una revisión de tendencias y un profundo estudio del desarrollo de clientes y proveedores.</p>' +
                  '<p>Trabajando en equipo con cada compañía, marcamos una hoja de ruta para que su mercancía alcance siempre su destino de la mejor manera posible y en el plazo indicado.</p>' +
                '</div>',
    :image => 'services/services09.jpg',
    :contentPosition => 'right',
    :id => 'consultancy'
  }) %>

  <%= partial("modules/content-image", :locals => {
    :extra_classes => '',
    :title => 'SEGUROS',
    :content => '<div class="content-block">' +
                  '<p>En Cargo Services ofrecemos la posibilidad de asegurar cualquier mercancía transportada. </p>' +
                  '<p>Los seguros que gestionamos cubren cualquier pérdida, robo o daño que se puedan producir durante el traslado en las mercancías, en cualquier punto del trayecto (desde el lugar de origen hasta el lugar de entrega).</p>' +
                  '<p>Las compañías de transporte, según la ley marcada, tienen sus propios seguros de responsabilidad civil limitada. Es por esto que los clientes, normalmente, no solicitan la contratación de otros que establezcan una cobertura total.</p>' +
                  '<p>La cobertura es la que para ello marcan las ICC Clauses (Cargo Clauses, Strike Clauses y War Clauses). El límite de cobertura recomendada es del 110% sobre el valor CFR de la mercancía.</p>' +
                  '<p>A petición del cliente se puede gestionar la contratación de seguros especiales para el transporte de sus mercancías, algo recomendable en el caso de mercancías especialmente frágiles.</p>'  +
                '</div>',
    :image => 'services/services08.jpg',
    :contentPosition => 'left',
    :id => 'insurance'
  }) %>



  <%= partial("modules/map", :locals => {
    :extra_classes => ''
  }) %>
  

  <%= partial("modules/modal-form", :locals => {
    :modal_selector => 'budget-modal',
    :extra_classes => 'budget-modal',
    :title => '<p class="small">' +
                'Solicita' +
              '</p>' +
              '<p class="title">' +
                'Presupuesto gratuito' +
              '</p>'
  }) %>

</div>
<%= partial("shared/footer") %>
